.promo-title-font {
  font-family: Abel;
  font-size: 26px;
}

.promo-p-font{
  font-family: Abel;
  font-size: 18px;
}
.promo-icon-font{
  font-family: Palanquin Dark;
  font-size: 24px;
  display: inline-block;
}
