<div class="container">
  <div class="row">
    <div class="col-6">

      <h3 class="promo-title-font">
        Over <span style="color: green;">50,000</span> Community Created Worlds and Growing
      </h3>
      <span class="promo-p-font">VRChat offers an endless collection of social VR experiences
        by giving the power of creation to its community. Whether you're looking for new VR experiences or have an idea
        of
        your own, VRChat is the place to be.
      </span>
    </div>

    <div class="col">
      <div class="row">
        <div class="col bg-secondary rounded">
          <div class="row mt-1">
            <div class="col-2 pb-1">
              <i style="font-size: 3em" class="fab fa-steam-square"></i>
            </div>
            <div class="col-9 pt-1">
              <span class="promo-icon-font">PLAY ON STEAM</span>
            </div>
          </div>
        </div>

        <div class="col ml-1">
          <div class="row">
            <div class="col bg-secondary rounded">
              <div class="row mt-1">
                <div class="col-3 pb-1">
                  <i style="font-size: 3em" class="fas fa-vr-cardboard"></i>
                </div>
                <div class="col-9 pt-1">
                  <span class="promo-icon-font ma">PLAY ON VR</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
