<!--1. to do make the profile Marked-->
<!--2. to do make the dashboard marked-->
<!--3. to do make the friends column marked-->
<!-- Gonna hide the main NAV BAR
    and use the dashboard navbar-->

<div>
  <app-navbar-dash></app-navbar-dash>
</div>
<div class="container-fluid bg-warning">
  <div class="row">

    <div class="bg-dark col-2 ml-1">
      <app-profile></app-profile>
    </div>

    <div class="bg-danger col">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, id temporibus tempora explicabo distinctio minus veniam repudiandae, reiciendis sapiente consectetur nihil autem doloribus deserunt possimus, impedit cupiditate tempore saepe soluta?</p>
    <router-outlet name="profile"></router-outlet>
    </div>

    <div class="bg-success float-right col-3 mr-1">
      <app-friends></app-friends>
    </div>
  </div>
</div>
