<div class="row">
  <div class="col">
    <div class="row bg-info">
      <div class="col-2 bg-danger circle-home-icon rounded-circle justify-content-center pt-4">
        <i style="font-size: 3em" class="fas fa-users bg-secondary"></i>
      </div>
      <div class="col-8 bg-danger circle-home-icon rounded-circle justify-content-center pt-4">
          <i style="font-size: 3em;" class="fas fa-cogs bg-secondary"></i>
      </div>

    </div>

    <div class="row bg-success">
      <div class="bg-danger">
        <i style="font-size: 3em" class="fas fa-globe"></i>
      </div>
      <div class="bg-warning">
        <i style="font-size: 3em" class="fas fa-highlighter"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="uk-margin uk-card uk-card-default uk-card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
  </div>
</div>
