<div class="row mt-5">
  <div class="col-6">
    <div class="row justify-content-around">
      <div class="col-4">
        <div class="circle-home-icon rounded-circle pt-4">
          <i style="font-size: 4em; margin-top:10px; margin-left: 25%;" class="fas fa-users "></i>
        </div>
        <h3 class="text-center mt-2">Make Friends</h3>
        <p class="text-center text-size-p">Play and create with people from all over the world.</p>
      </div>

      <div class="col-4">
        <div class="circle-home-icon rounded-circle pt-4">
          <i style="font-size: 4em; margin-top:15px; margin-left: 25%;" class="fas fa-cogs"></i>
        </div>
        <h3 class="text-center mt-2">Create Worlds</h3>
        <p class="text-center text-size-p">Using our Unity SDK, you can bring your imagination to life.</p>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col-4">
        <div class="circle-home-icon rounded-circle pt-4">
          <i style="font-size: 5em; margin-top:10px; margin-left: 27%;" class="fas fa-globe"></i>
        </div>
        <h3 class="text-center mt-2">CUSTOM AVATARS</h3>
        <p class="text-center text-size-p">Change up your look, it's like cosplay but in VR!</p>
      </div>
      <div class="col-4">
        <div class="circle-home-icon rounded-circle pt-4">
          <i style="font-size: 5em; margin-top:10px; margin-left: 27%;" class="fas fa-highlighter"></i>
        </div>
        <h3 class="text-center mt-2">JOIN THE COMMUNITY</h3>
        <p class="text-center text-size-p">VRChat is community driven. Help shape the metaverse.</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col">
        <iframe width="100%" height="300px"
          src="https://www.youtube.com/embed/PWLPw4RE9Ig?controls=0&loop=1&autoplay=0&mute=1" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-center uk-text-bolder uk-text-xlarge">WHY SHOULD I JOIN VRCHAT ?</h2>
      </div>
    </div>
    <div class="row">

      <div class="col uk-margin uk-card uk-card-default uk-card-body mt-1">

        <div class="row">

          <div class="col">
            <div>
              <ul class="uk-list uk-list-collapse uk-list-disc uk-text-normal">
                <li>Interact with people all over the world</li>
                <li>Experiment with identity by trying new avatars</li>
                <li>Many users report that VRChat has helped overcome social anxiety</li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div>
              <ul class="uk-list uk-list-collapse uk-list-disc uk-text-normal">
                <li>Create long lasting friendships</li>
                <li>Express yourself</li>
                <li>Build worlds and invite people to them</li>
                <li>Play and have fun</li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
