
  <div class="row">
    <div class="col-6">
      <div>
        <i style="font-size: 3em" class="fas fa-users"></i>
      </div>
      <div>
        <i style="font-size: 3em" class="fas fa-cogs"></i>
      </div>
      <div>
        <i style="font-size: 3em" class="fas fa-globe"></i>
      </div>
      <div>
        <i style="font-size: 3em" class="fas fa-highlighter"></i>
      </div>
    </div>
    <div class="col-6">
      <div class="uk-margin uk-card uk-card-default uk-card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
  </div>

