<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container uk-margin-large-left">

    <h2 class="text-center uk-text-bolder uk-text-xlarge">SEE THE FEATURES</h2>
    <h5 class="uk-text-meta uk-text-large uk-text-center mt-0 mb-5">Here are some of the features our platform currently
      supports.</h5>
    <div class="container">
      <div class="row uk-grid-match uk-child-width-1-3@m">
        <div class="col">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-user fa-3x ml-0"></i>
            </div>
            <div class="col-7">
              <p class="font-weight-bold font-icon-title text-center">FULL BODY AVATARS</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <p class="uk-text-meta font-icon-para uk-text-justify mb-5">Full body avatars with lip sync, eye
                tracking/blinking, and complete range of motion</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-2">
              <i class="far fa-smile-beam fa-3x"></i>
            </div>
            <div class="col-7">
              <p class="font-weight-bold font-icon-title text-center">EXPRESS YOURSELF</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <p class="uk-text-meta font-icon-para uk-text-justify mb-5">Express yourself with hand gestures, emotes, and emoji</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-headset fa-3x"></i>
            </div>
            <div class="col-7">
              <p class="font-weight-bold font-icon-title text-center">3-D SPATIALIZED AUDIO</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <p class="uk-text-meta font-icon-para uk-text-justify mb-5">Our 3-D spatialized audio helps you hear the conversations important to you</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row uk-grid-match uk-child-width-1-3@m">
        <div class="col">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-gamepad fa-3x"></i>
            </div>
            <div class="col-7">
              <p class="font-weight-bold font-icon-title text-center">PLAY GAMES</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <p class="uk-text-meta font-icon-para uk-text-justify mb-5">Play Capture the Flag, Battle Discs, Bowling and more including games built by our community.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-project-diagram fa-3x"></i>
            </div>
            <div class="col-7">
              <p class="font-weight-bold font-icon-title text-center">FUN THINGS TO DO</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <p class="uk-text-meta font-icon-para uk-text-justify mb-5">Chat, collaborate, draw, sculpt with friends.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users-cog fa-3x"></i>
            </div>
            <div class="col-7">
              <p class="font-weight-bold font-icon-title text-center">AVATAR CREATION</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <p class="uk-text-meta font-icon-para uk-text-justify mb-5">Create your own avatars and worlds with our Unity SDK.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row uk-grid-match uk-child-width-1-3@m">
        <div class="col">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-globe-americas fa-3x"></i>
            </div>
            <div class="col-7">
              <p class="font-weight-bold font-icon-title text-center">EXPLORE WORLDS</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <p class="uk-text-meta font-icon-para uk-text-justify mb-5">Explore hundreds of worlds created by other community members.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-calendar-alt fa-3x"></i>
            </div>
            <div class="col-7">
              <p class="font-weight-bold font-icon-title text-center">WEEKLY EVENTS</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <p class="uk-text-meta font-icon-para uk-text-justify mb-5">Get involved with official and community events.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-heart fa-3x"></i>
            </div>
            <div class="col-7">
              <p class="font-weight-bold font-icon-title text-center">BUILD FRIENDSHIPS</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <p class="uk-text-meta font-icon-para uk-text-justify mb-5">You never know if the next avatar you will meet will turn out to be your next best friend.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
