<div class="login animate__animated animate__fadeIn">
	<h1>Login</h1>
    <form method="post">
      <span class="mb-1 text-danger">lol</span>
      <input type="text" name="u" placeholder="Username" required="required" />
      <span class="mb-1 text-danger">lol</span>
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-white" href="#">New around here? Sign up</a>
    <a class="dropdown-item text-white" href="#">Forgot password?</a>
</div>
